@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
    font-family: 'Lato', sans-serif;
}

h2 {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

a {
    color: lightseagreen;
    font-weight: bolder;
    padding: 12px;
    margin-right: 50px;
}

#main {
    height: 100vh;
}

.navbar {
    background-color: #E0E0E0;
    display: flex;
    text-align: right;
}


.navbar-expand .navbar-nav {
    flex: 1;
    margin-top: 20px;
    justify-content: right;
}


.favDiv {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    gap: 2%;
}


.navbar {
    display: flex;
    flex-basis: auto;
    justify-content: right;
}